header {
	padding-top: 40px;
	margin-bottom: 40px;
	text-align: center;

	h1 {
		@media (max-width: 425px) {
			font-size: 1.6em;
		}

		@media (max-width: 320px) {
			font-size: 1.4em;
		}

		@media (max-width: 280px) {
			font-size: 1.2em;
		}
	}
}

main {
	display: flex;
	justify-content: center;
	max-width: 100%;
	min-height: 100%;

	.main-container{
		display: flex;
		flex-direction: column;

		.pzl {
			width: 400px;
			height: 400px;
			position: relative;
			outline: 2px solid gray;
			margin-bottom: 20px;

			@media (max-width: 425px) {
				width: 320px;
				height: 320px;
				margin-bottom: 60px;
			}
			@media (max-width: 320px) {
				width: 288px;
				height: 288px;
			}
			@media (max-width: 280px) {
				width: 256px;
				height: 256px;
			}
		}
	
		.item,
		.empty {
			position: absolute;
			width: 25%;
			height: 25%;
			color: black;
			transition: top .3s ease-in, left .3s ease-in;
		}
		
		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(255, 117, 21, .95);
			border: 1px solid cornsilk;
			font-size: 1.1em;
			cursor: pointer;
			z-index: 1;
		}

		.item-disabled {
			pointer-events: none;
		}

		.item-win:not(:last-child) {
			background-color: #32e338;
		}

		.progress-container{
			display: flex;
			flex-direction: column;
			
			height: 60px;
			margin-bottom: 14px;	
			font-size: 1em;
	
			.progress {
				display: flex;
				justify-content: space-around;
				background-color:cornsilk;
				font-size: .9em;
				margin-bottom: 14px;
			}
		}

		.progress-win-container{
			color: green;
		}
	
		.win-block{
			display: block;
			margin: 0 auto;
		}

		button{
			margin: 0 auto;
		}
	
		.button-win{
			background-color: green;
		}
	}
}